@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    background-color: rgba(252, 255, 77, 0.5);
    font-family: 'Rubik', sans-serif;
}
#content{
    background-image: url(../images/watermelon.png); 
    background-size: 100% 100%; 
    width: 800px; 
    height: 600px; 
    max-width: 100%;
    margin: 50px auto 50px auto; 
    box-sizing: border-box;
    border: 10px solid rgba(30, 138, 0, 0.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

h1{
    margin: auto; 
    text-align: center;
    font-size: 55px;
}
#title{
    background-color: rgba(0, 229, 255, 0.8);
    height: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: auto;
}

blockquote{
    color: white;
    font-size: 35px;
    box-sizing: border-box;
    text-align: center;
}
#text{
    background-color: rgba(05, 05, 05, 0.6);
    width: 95%;
    margin: 0 auto 0 auto;
    margin-bottom: 40px;
}

.button{
    display: flex;
    margin-bottom: 20px;
}
button{
    margin: 0 auto 0 auto;
    width: 20%;    
    outline: 5px solid rgb(30, 138, 0);
    background-color: rgb(255, 77, 77);
    font-family: 'Rubik', sans-serif;
}
button:hover{
    background-color: rgb(71, 255, 96);
}
button:active{
    background-color: rgb(30, 138, 0);
}

#name{
    text-align: center;
}

@media screen and (max-width: 800px) {
    #content{
        width: 100vw;
        height: 75vw;
    }
    #text{
        margin-bottom: 10px;
    }
    h1{
        font-size: 2rem;
    }
    button{
        font-size: 0.6rem;
    }
    blockquote{
        font-size: 2rem;
    }
}