@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {font-family: Arial, sans-serif; background-color: #192716;}
h1 { color: #00A1E4; font-family: 'Bebas Neue', cursive; border-bottom: 3px solid #00A1E4;}
blockquote { background-color: #D0E3CC; padding: 1rem;}
h2  {color:blueviolet;}
p, div, ul  {margin-left: 100px;}
main, header, footer  {border: 1px solid black; margin: 0 auto; width: 80vw; background-color: #FCFDAF; padding: 1rem;}
img.left {margin-left: 100px; border: 5px solid #00A1E4;}
img.over {float:right; margin:0 12px; border: 5px solid #00A1E4;}
img.bigimage {max-width: 80vw;}
a:link { color: #D62839}
a:visited { color: #D62839}
a:hover { color: #D62839}
a:active { color: #D62839}


